.navs {
  height: 100%;
  .header {
    padding: 0;
    list-style: none;
    display: flex;
    padding: 0 2em;
    background: #1a1919;
  }

  .item {
    padding: 1em;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .active {
    background: rgb(121, 118, 118);
    a {
      color: #ff8c00;
    }
  }

  .content {
    padding: 0 20%;
    background: #ffffff;
  }
}


.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1em;
  background: #1a1919;
  color: #fff;
  font-size: 0.8em;

  .item {
    display: flex;
    align-items: center;

    span {
      margin-left: 0.5em;
    }
  }
}